



aside

{
	padding: 30px 0;

	vertical-align: top;
}



section, header

{
	margin: 0;
}



aside

{

	background-color: #263238;

	width: 25%;

	display: inline-block;

}



p

{


	font-family: Verdana;

	color: #FAFAFA;

}




body

{
	margin: 0;

    font-size: 17px;
}



article

{
	vertical-align: top;

	width: 70%;
    
    display: inline-block;

    float: right;
}



article section

{
	margin-top: 100px;
}



i                        /* Tout les logo de la page */

{  
	color: black;

    margin-left: 29px;

	margin-top: -20px;
}




.Formation1               /* Titre Formation Scolaire */
{
	margin-top: 80px;
}


.section0

{
	display: none;
}

.section1

{
	margin-top: 100px;
}



.Nom

{

  color: #03A9F4;

}


.Titre

{
	font-size: 4em;

	font-style: italic;

	font-family: Georgia;

	color: #455A64;

}

.Sous-titre

{
	font-size: 2em;

	font-family: Georgia;

	margin-top: -45px;

	color: #455A64;

}

.Dev

{

  text-decoration: underline;

  margin-left: 16px;


}

.cercle

{

    text-align: center;

    margin: auto;

    margin-top: 55px;

 
}

.cercle img           /* Photo et Cercle Mario */

{
	overflow: hidden;

    -webkit-border-radius: 100px;

    -moz-border-radius: 100px;

    border-radius: 100px;

	width: 190px;

	height: 190px;
}

.Contact                /* Tout les titre Bleu de la partie de gauche "aside" */

{

	font-size: 2em;

	font-family: Courier New;

	color: #03A9F4;

	width: 100%;

	background-color: #455A64;

	text-align: center;

}

.Contact0                /* Titre Loisir de la partie de gauche "aside" */

{

	font-size: 2em;

	font-family: Courier New;

	color: #03A9F4;

	width: 100%;

	background-color: #455A64;

	text-align: center;

	margin-top: 475px;

}

.bla                       /* Imformation de la partie aside */

{

	margin: 25px;

	text-align: justify;
}


.Formation, .Formation1     /* Titre expériences professionels, langues et recommandations */

{
	font-size: 2em;

	font-family: Verdana;

	color: black;
}


.bordure 

{

    border-bottom: 5px solid #03A9F4;

    margin-top: -6px;

}

.For

{
	font-size: 1.1em;          /* Titre de toute les sections */

	font-family: Verdana;

	color: #03A9F4;

	margin-top: 50px;
}

.Cours                        /* "Cours" de toute les sections */

{
	font-size: 1em;

	font-family: Verdana;

	color: black;

	text-align: center;

	margin-top: 40px;
}

.For0                        /* "Cours" Miyamoto */

{
	font-size: 1.1em;

	font-family: Verdana;

	color: #03A9F4;

	margin-top: 50px;


}

.Cours0                        /* "Cours" info Miyamoto */

{
    font-size: 1em;

	font-family: Verdana;

	color: black;

	margin-top: 30px;

}

.For01

{
	font-size: 1.1em;

	font-family: Verdana;

	color: #03A9F4;

	margin-left: 170px;

	margin-top: 50px;
}

.Cours01

{
    font-size: 1em;

	font-family: Verdana;

	color: black;

	margin-top: 30px;

	margin-left: 170px;
}

.icones i

{
	color: #03A9F4;
}














@media all and (max-width: 1024px)

{
	aside

	{

		width: auto;
		text-align: center;
		height: 2600px;

	}

	section p, section

	{
		width: auto;
		text-align: center !important; 
		margin-left: 0px !important;
	}

	section

	{
		margin-left:0 !important;
	}

	main

{
	width: 100%;

	display: inline-block;

}

    article 

{
	width: 100%;
    
    display: inline-block;

    float: none;
}

article section

{
	padding: 10px;
}

table

{
	display: inline-block;
}


	.section0

	{
		display: block;
	}

	.section1

	{
		display: none;
	}

	.section2

	{
		margin-top: 30px;
	}

	.Titre, .Sous-titre

	{
		color: white;
	}

	.bla

	{
		padding-left: 25px;
	}

	.For01, .Cours01

	{
		padding-left: 50px;
	}

}
















